<div class="box special">
  <article class="media">
    <div class="media-left">
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Tema </strong>
          <small> {{ejercicio.tema}}</small>
        </p>
        <p>
          <strong>
            Worksheet
          </strong>
          <small>{{ejercicio.worksheet}}</small>
        </p>
        <p>
          <strong>Enunciado</strong>
          <small> {{ejercicio.enunciado}}</small>
        </p>
        <h3 class="title">Solución</h3>
        <h5 class="subtitle">{{ejercicio.solucion}}</h5>
      </div>

    </div>
  </article>
</div>