html {
  min-height: 100% !important;
  position: relative !important;
}
body {
  min-height: 100% !important;
}
app-footer {
  bottom: 0 !important;
  width: 100% !important;
}

footer {
  padding: 0 !important;
}

.mainboard {
  min-height: 400px !important;
}
